body{
    background-color: rgb(74, 71, 221);
}


.centro{
    text-align: center;
    background-color:darkorange;
    border-radius: 40px;
    height: 200px;

}


header{
    text-align: center;
    color:darkorange;
}


.somaEX{
    color:darkorange;
    text-align: center;
}
